.swimming_page
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        Swimming Pool Rules
    .panel-body
      %p
        The following rules and regulations a designed to protect your health and safety. Each home owner has the responsibility to enforce these pool regulations. Assistance is available from the Pool Committee Chair or any Board Member.
  .panel.panel-default.pool_panels
    .panel-heading
      %h3.text-center
        Use of the Pool
    .panel-body
      %p
        %strong
          Hours:
        8 am to 9 pm daily.
      %p
        %strong
          Guests:
        Guests are welcome to enjoy our pool but must be accompanied by the home owner. The home owner is responsible for advising guests of the rules and regulations.
      %p
        %strong
          Other:
        Resident is defined as a home owner and includes everyone in the home owner's household. Children under 13 years old must be accompanied by an adult resident. People 14 to 18 years old are considered residents but may not sponsor guests. Anyone 18 years and older and residing in our community is considered an adult and may accompany children and guests.
      %p
        As we now have a salt ionizer that makes chlorine it is recommended and requested that residents do not launder swim suits after every swim as the phosphates interfere with the ionization process.
  .panel.panel-default.pool_panels
    .panel-heading
      %h3.text-center
        Health and Safety
    .panel-body
      %ol
        %li
          Oils and oil based sun tan lotion is prohibited – it damages the pool equipment and interferes with the ionization process. However, sunscreen lotions and spray-ons are recommended.
        %li
          Horseplay is forbidden.
        %li
          No glass containers are allowed in the pool area.
        %li
          Do not play with the pool cleaning or life saving equipment.
        %li
          Remember, there is NO life guard on duty.
        %li
          Leave the pool and pool area if there is a lighting storm.
        %li
          Always lower the umbrella and lean the chair backs toward the table to prevent wind damage.
        %li
          Only swim wear is allowed. T-Shirts are permissible while cut-offs, shorts and Levis are NOT.
        %li
          No one is allowed in the pool who has a fever, communicable disease, skin infection, sore/inflamed eyes, cough, cold, or wearing a bandage.
        %li
          Babies in diapers are not allowed in the pool, children must be toilet trained.
        %li
          No pets of any kind are allowed in the pool area.
        %li
          Radios and stereos are permitted but the sound must be kept at a minimum.
        %li
          The pool entrance is required to be locked at all times. Each home owner has been issued a key to this lock. These keys cannot be reproduced locally. Contact any board member if you lost your key or it no longer works.
        %li
          Please turn off the lights and make sure the gate locks if you are the last to leave at night.
  .panel.panel-default.pool_panels
    .panel-heading
      %h3.text-center
        Penalties for Failure to Follow the Rules/Regulations
    .panel-body
      .pool_penalties
        %p
          1st Offense:
        %p
          Warning and correction of offense.
      .pool_penalties
        %p
          2nd Offense:
        %p
          Immediate expulsion from the pool.
      .pool_penalties
        %p
          3rd Offense:
        %p
          Immediate expulsion from the pool and loss of pool privileges for the entire household for a period of 30 days. Key must be surrendered to the Board.
      .pool_penalties
        %p
          4th Offense:
        %p
          Immediate expulsion from the pool and loss of pool privileges for the entire household until the Board or home owners vote to reinstate the privileges. Key must be surrendered to the Board.
