%table.table.table-hover
  %thead
    %th
      Resident(s)
    %th
      Phone 1
    %th
      Phone 2
    %th
      Address
    %th
      E-mail
    -if current_user.has_role?(:admin)
      %th
        Manage
  %tbody
    -@users.each do |user|
      %tr
        / Residents
        %td
          -user.residents.each do |resident|
            %p="#{resident.first_name} #{resident.last_name}"
          -if user == current_user || current_user.has_role?(:admin)
            =link_to "Edit", residents_path(user_id: user.id), class: 'btn btn-default btn-sm'

        / Phone 1
        %td
          -user.residents.each do |resident|
            %p=resident.phone1

        / Phone 2
        %td
          -user.residents.each do |resident|
            %p=resident.phone2

        / Address
        %td
          =user.readable_address

        / E-mail
        %td
          -user.residents.each do |resident|
            %p=resident.email

        -if current_user.has_role?(:admin)
          / Manage
          %td
            =link_to "Manage", user_path(user), class: 'btn btn-default'