.pets_page
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        Pet Regulations
    .panel-body
      %p
        Pet Regulations are based on CC&Rs Article X, Section 7 (and in conformity with ”South Ogden City Code, 5-1-13”).
      %ol
        %li
          No animals, livestock, reptiles or poultry of any kind shall be raised, bred or kept on any lot or the Common Area, except usual and ordinary dogs, cats, fish, birds and other household pets may be kept on lots subject to rules and regulations adopted by the Association.
        %li
          No more than 2 pets per household.
        %li
          Pets shall not constitute a nuisance for any other owner.
        %li
          Pets must be kept within an enclosure, enclosed patio or kept on a leash by a person capable of controlling the animal.
        %li
          Pet owners are liable to all other owners for noise or damage to person or property by animals brought or kept upon the properties by an owner or family members of owner.
        %li
          It is the duty of owners to clean up after animals have used any portion of Common Areas (Common Areas include any and all grassy property).
        %li
          Violations may be reported to the South Ogden Animal Control after two (2) written warnings.
