%nav#nav_bar.nav.navbar-inverse{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: "button", data: {target: "#home_page_nav_collapse", toggle: "collapse"}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand=link_to "Ironwood", home_path
    #home_page_nav_collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav#nav_menu_links
        %li.dropdown.nav_menu_item
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            HOA
            %b.caret
          %ul.dropdown-menu
            %li=link_to "CC&R & By-Laws", by_laws_path
            %li=link_to "Policies", policies_path
            %li=link_to "Swimming", swimming_path
            %li=link_to "Parking", parking_path
            %li=link_to "Pets", pets_path
            %li=link_to "HOA Dues", hoa_dues_path
        %li.nav_menu_item=link_to "Contacts", contacts_path
        %li.dropdown.nav_menu_item
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Homeowners
            %b.caret
          %ul.dropdown-menu
            %li=link_to "Board Meeting Minutes", board_meeting_minutes_path
            %li=link_to "Homeowners Directory", homeowners_path
            %li=link_to "Budget", budgets_path
        %li.dropdown.nav_menu_item
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            FAQ
            %b.caret
          %ul.dropdown-menu
            %li=link_to "FAQs", faqs_path
            %li=link_to "Pictures", pictures_path
            %li=link_to "Upkeep", upkeep_path
        -if current_user.present?
          %ul.nav_sign_in.nav.navbar-nav
            %li.dropdown.nav_menu_item
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                =current_user.email
                %b.caret
              %ul.dropdown-menu
                %li=link_to "Settings", current_user
                %li=link_to "Sign Out", sign_out_path, method: 'delete'
        -else
          / %li.nav_sign_in=link_to "sign in", '#', data: {toggle: 'modal', target: '#sign_in_modal'}
          %li.nav_sign_in=link_to "sign in", new_user_session_path

=render 'shared/modal'