=bootstrap_form_for @board_meeting_minute do |f|
  =f.date_field :meeting_date, label: "Meeting Date", id: 'meeting_calendar'
  -@board_members.each do |resident|
    .form-group
      =label_tag "name", "#{resident.full_name}:"
      =label_tag "positions", resident.title
      =text_area_tag "reports[][#{resident.id}]", nil, class: 'form-control wysihtml5 minutes_text_area'
  =f.submit "submit"

:javascript
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
  $(document).on('page:load', function(){
    window['rangy'].initialized = false
  });
