.bmm_show_page
  .panel.panel-default#bmm_show_panel
    .panel-heading
      %h1=@board_meeting_minute.readable_date
    .panel-body
      -@board_meeting_minute.reports.each do |report|
        %h3
          =report.title
        %h6
          ="reported on by #{report.resident_name}"
        .report_description
          %p
            =report.description.html_safe