#parking_index_page
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        Parking Rules - General
    .panel-body
      %p
        Parking rules are based on the following Articles in the Association CC&Rs
      %ol
        %li
          All property in Ironwood Homeowners Association is ”common area” except each homeowners home & ground. (Article 1 Sec. 11)
        %li
          The ”common area” includes all roads, driveways and sidewalks. (Article 1 Sec. 11)
        %li
          The Homeowners may have ingress and egress to their garages over the sidewalks and driveways which are owned by the Association. (Article II Sec. 1)
        %li
          The Association may stipulate rules pertaining to parking on driveways and sidewalks and guest parking areas. (Article II Sec. 1b & c; Sec. 3 & 4; Article X Sec. 6)
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        Parking Rules - Instituted Nov. 1, 2014
    .panel-body
      %ol
        %li
          Streets must be kept clear for emergency vehicles.
        %li
          Parking prohibited on streets between November 15 and March 15* and other times during a snowstorm with the following exception: During this time 2-hr. street parking permitted when roads are clear. Guest parking must be vacated during snowstorms so cars will not be damaged by snowplows.
        %li
          No overnight parking on driveways, sidewalks, streets or guest parking lots with the following exceptions: (a.) Overnight guests may park in guest parking for up to one week. (b.) Longer overnight parking requires special permit from Association President ($25 per month for monthly permit). Remember, guest parking is for guests, not homeowners!
        %li
          Violators’ vehicles will be towed after two written warnings.
        %li
          Parking rules for large, commercial or recreational vehicles are found in CC&R Article X, Section 6.
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        RV Storage and Parking Lot Regulations
    .panel-body
      %ol
        %li
          Vehicles permitted in RV lot: Watercraft and trailers, camping trailers, motor homes, camping vehicles including camper shells. When space is available other vehicles may be stored or parked unless space is needed for the RVs.
        %li
          The RV parking lot is provided as a service to Ironwood homeowners. Those parked vehicles must belong to the homeowner or family member living in Ironwood.
        %li
          Only one vehicle permitted to park in one space.
        %li
          All items belonging to each vehicle must be attached or locked in vehicle.
        %li
          Any inoperable or improperly licensed or registered vehicle will be denied access and towed if necessary.
        %li
          Access gate is locked at all times except during snow season.
        %li
          Cost per vehicle is $10.00 per month, to be paid January 1st for complete year. Refunds will be given for partial year if necessary.
        %li
          The Association is not responsible for any damage.
        %li
          Apply to Dick Hawkins or Harve Dickerson for parking permit.