.container.home_page
  .row
    =image_tag 'home_img.jpg', class: 'home_main_images'
  .row#home_info_row
    .col-sm-2
      #home_pool_data
        %p pool status
        %p and
        %p pool hours here
    .col-sm-6
      .panel.panel-default.home_panels
        .panel-heading
          board meeting minute highlights
        .panel-body
          content goes here

