#contact_page
  .row
    .col-sm-4.col-sm-offset-1
      .panel.panel-default#contact_panel
        .panel-heading
          %h3.text-center
            Contact
        .panel-body
          -if false
            -@board_members.each do |resident|
              .board_member_contact
                %h4
                  =resident.title
                %p
                  =resident.full_name
                %p
                  =resident.phone1
          -else
            %h4.contact_board#contact_board_text
              Association President<br>
              Harvey Dickerson<br>
              801-479-9863
            %h4.clear
              Want to know more about our community? Please feel free to contact me with your questions.
