#contact_page
  .row
    .col-sm-4.col-sm-offset-1
      .panel.panel-default#contact_panel
        .panel-heading
          %h3.text-center
            Contact
        .panel-body
          .board_pic.text-center.contact_board
            picture here
          %p.contact_board
            contact info here
          %form.clear
            .form-group

