.by_laws_page
  .panel.panel-default.pool_panels
    .panel-heading
      %h2.text-center
        Covenants, Conditions and Restrictions
        %br
        &
        %br
        By-Laws
    .panel-body
      %ul
        %li
          =link_to "Covenants, Conditions and Restrictions", 'https://drive.google.com/file/d/0B1HkRsNvB6AQSEpZd3h3TXRfNkk/edit?usp=sharing', target: "_blank"
        %li
          =link_to "By-Laws", 'https://drive.google.com/file/d/0B1HkRsNvB6AQd21qRmt5QkFxLXM/edit?usp=sharing', target: "_blank"
        %li
          =link_to "CC&R Amendment", 'https://drive.google.com/file/d/0B1HkRsNvB6AQVzNqLVhaR3hFM28/edit?usp=sharing', target: "_blank"
        %li
          =link_to "Rental Amendment", "https://drive.google.com/file/d/0B1HkRsNvB6AQeEZEUWFuc2FJRDg/edit?usp=sharing", target: "_blank"