/* defines */

/*------------------------------------------------------------------*/

$container-large-desktop: 100%;

@import "bootstrap";

/* navbar */

/*------------------------------------------------------------------*/

#nav_bar{
  #nav_menu_links{
    float: none;
    text-align: center;
    .nav_menu_item{
      display: inline-block;
      float: none;
    }
    .nav_sign_in{
      float: right;
    }
  }

}


/* home page */

/*------------------------------------------------------------------*/

.home_page{
  .home_main_images{
    width: 100%
  }
  #home_info_row{
    background-color: #000;
    min-height: 300px;
    height: inherit;
  }
  .home_panels{
    height: 200px;
    margin-top: 25px;
  }
  #home_pool_data{
    color: #ffff19;
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

/* swimming page */

/*------------------------------------------------------------------*/

.swimming_page{
  background-image: url('pool.JPG');
  padding-top: 30px;
  padding-bottom: 30px;
}

.pool_penalties{
  p{
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
  }
}

.pool_panels{
  max-width: 600px;
  margin:auto;
  margin-top: 30px;
  opacity: .88;
}

/* cc&r & by laws page */

/*------------------------------------------------------------------*/

.by_laws_page{
  background-image: url('documents_by_storebukkebruse.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1037px;
}

/* pets page */

/*------------------------------------------------------------------*/

.pets_page{
  background-image: url('dog_by_will_marlow.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1037px;
}

/* upkeep page */

/*------------------------------------------------------------------*/

#upkeep_page{
  background-image: url('backyard_hair_cut_by_sean_hobson.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  .red{
    color: red;
  }
}

.upkeep_owner{
  color:blue;
}

#upkeep_panel{
  max-width: 900px;
  margin:auto;
  margin-top: 30px;
  opacity: .88;
}

/* contact page */

/*------------------------------------------------------------------*/

#contact_page{
  background-image: url('letter_by_RaSeLaSeD.jpg');
  min-height: 1145px;
}

#contact_panel{
  margin-top: 150px;
  opacity: .8;
}

.board_pic{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color:grey;
  vertical-align: top;
}

.contact_board{
  display: inline-block;
}

#contact_board_text{
  margin-left: 15px;
}

#contact_question_area{
  width: 100%;
  min-height: 100px;
}