/*

*= require bootstrap-wysihtml5/b3

*/



/* defines */

/*------------------------------------------------------------------*/

$container-large-desktop: 100%;

@import "bootstrap";

/* navbar */

/*------------------------------------------------------------------*/

#nav_bar{
  #nav_menu_links{
    float: none;
    text-align: center;
    .nav_menu_item{
      display: inline-block;
      float: none;
    }
    .nav_sign_in{
      float: right;
    }
  }

}


/* home page */

/*------------------------------------------------------------------*/

.home_page{

  width: 100%;
  min-height: 1200px;
  background-image: image-url('home_img2.jpg');

  .home_main_images{
    width: 100%
  }
  #home_info_row{
    background-color: #000;
    min-height: 300px;
    height: inherit;
  }
  .home_panels{
    height: 200px;
    margin-top: 25px;
  }
  #home_pool_data{
    color: #ffff19;
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

/* swimming page */

/*------------------------------------------------------------------*/

.swimming_page{
  background-image: image-url('pool.JPG');
  padding-top: 30px;
  padding-bottom: 30px;
}

.pool_penalties{
  p{
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
  }
}

.pool_panels{
  max-width: 600px;
  margin:auto;
  margin-top: 30px;
  opacity: .88;
}

/* cc&r & by laws page */

/*------------------------------------------------------------------*/

.by_laws_page{
  background-image: image-url('documents_by_storebukkebruse.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1037px;
}

/* pets page */

/*------------------------------------------------------------------*/

.pets_page{
  background-image: image-url('dog_by_will_marlow.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1037px;
}

/* upkeep page */

/*------------------------------------------------------------------*/

#upkeep_page{
  background-image: image-url('backyard_hair_cut_by_sean_hobson.jpg');
  padding-top: 30px;
  padding-bottom: 30px;
  .red{
    color: red;
  }
}

.upkeep_owner{
  color:blue;
}

#upkeep_panel{
  max-width: 900px;
  margin:auto;
  margin-top: 30px;
  opacity: .88;
}

/* contact page */

/*------------------------------------------------------------------*/

#contact_page{
  background-image: image-url('letter_by_RaSeLaSeD.jpg');
  min-height: 1145px;
}

#contact_panel{
  margin-top: 150px;
  opacity: .8;
}

.board_member_contact {
  p {
    padding-left: 15px;
  }
}

.contact_board{
  display: inline-block;
}

#contact_board_text{
  margin-left: 15px;
}

#contact_question_area{
  width: 100%;
  min-height: 100px;
}

/* residents page */

/*------------------------------------------------------------------*/

#residents_main_panel{
  .panel-heading *{
    display: inline-block;
  }
}

#no_residents_panel{
  max-width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.add_resident_name{
  width: 165px;
}

.add_resident_email{
  width: 300px;
}

.add_resident_phone{
  width: 120px;
}

.resident_data_panel{
  max-width: 435px;
  .panel-heading *{
    display: inline-block;
  }
}

/* edit residents page */

/*------------------------------------------------------------------*/

#edit_resident_panel{
  padding: 15px;
  .check_boxes{
    display: inline-block;
    margin-left: 15px;
  }
  #check_box_panel{
    max-width: 550px;
  }
}

/* minutes form */

/*------------------------------------------------------------------*/

#meeting_calendar{
  width: 185px;
}

.minutes_text_area{
  min-width: 200px;
  max-width: 600px;
  min-height: 400px;
}

/* board meeting minutes index */

/*------------------------------------------------------------------*/

.minutes_panels{
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.meeting_links{
  display: block;
  font-size: 24px;
  padding-left: 10px;
}

.meeting_year{
  width: 78px;
  margin: auto;
}

.year_links{
  font-size: 32px;
}

.meetings{
  display: none;
}

/* User Settings Page */

/*------------------------------------------------------------------*/

.change_pass_fields {
  width: 200px;
}

/* board meeting minutes show */

/*------------------------------------------------------------------*/

.bmm_show_page{
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: image-url("clock_by_jim_elliman.JPG");
  min-height: 1200px;
}

#bmm_show_panel{
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  opacity: .88;
}

.report_description {
  padding-left: 30px;
}

/* policies index */

/*------------------------------------------------------------------*/

#policies_index_page{
  background-image: image-url('gavel_by_jkbeitz.jpg');
  min-height: 1000px;
}

/* parking index */

/*------------------------------------------------------------------*/

#parking_index_page{
  background-image: image-url('car_by_peter_firminger.jpg');
  min-height: 1000px;
}

/* hoa dues index */

/*------------------------------------------------------------------*/

#hoa_dues_index_page{
  background-image: image-url('exchange_money_conversion_to_foreign_currency_by_epsos_de.jpg');
  min-height: 1000px;
}

/* budget index */

/*------------------------------------------------------------------*/

#budget_index_page{
  background-image: image-url('calculating_taxes_up_and_down_by_ken_teegardin.jpg');
  min-height: 1000px;
}

/* picture index */

/*------------------------------------------------------------------*/

#pictures_index_page {
  #picture_name {
    max-width: 200px;
  }
}