#upkeep_page
  .panel.panel-default#upkeep_panel
    .panel-heading
      %h2.text-center
        Upkeep
    .panel-body
      %table.table.table-responsive.table-hover
        %tr
          %th#upkeep_number
          %th#upkeep_item.text-center
            Item to be maintained
          %th#upkeep_hoa
            HOA
          %th.upkeep_owner
            Owner
        %tr
          %td
          %td.text-center.red
            %h4
              Exterior
          %td
          %td
        %tr
          %td
            1
          %td
            Maintenance, repair and paint of siding originally installed when the unit was built
          %td
            X
          %td
        %tr
          %td
            2
          %td
            Maintenance and repair of exterior brickwork and chimneys
          %td
            X
          %td
        %tr
          %td
            3
          %td
            Maintenance and repair of all rain gutters and downspouts
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            3A
          %td
            Cleaning of rain gutters
          %td
          %td
            X
        %tr
          %td
            4
          %td
            Maintenance and repair of sidewalk
          %td
            X
          %td
        %tr
          %td
            5
          %td
            Maintenance and repair of front steps
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            6
          %td
            Maintenance of concrete foundations and entries
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            7
          %td
            Maintenance and repair of patio floor
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            8
          %td
            Maintenance and repair of (patio) decks floor support structures
          %td
          %td
            X
        %tr
          %td
            8A
          %td
            Painting of decks
          %td
            X
          %td
        %tr
          %td
            9
          %td
            Maintenance, repair and painting of original fences
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            10
          %td
            Maintenance and repair of unit owner added or modified fences
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            11
          %td
            Maintenance, repair and replacement of window wells and covers
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            12
          %td
            Maintenance, repair and replacement of doors, hinges, frames, thresholds, locks, doorbells, chimes, etc.
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            13
          %td
            Maintenance, repair and replacement of garage floors
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            14
          %td
            Maintenance, repair and replacement of garage doors. (NOTE: Garage doors must conform to standards)
          %td
          %td
            X
        %tr
          %td
            15
          %td
            Paint Garage doors and trim, side entry garage door and front and patio doors
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            16
          %td
            Maintenance , repair and replacement of windows, sliding glass doors, screens and frames
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            17
          %td
            Maintenance, repair and replacement of yard lights using electricity from the unit
          %td
          %td
            X
        %tr
          %td
            18
          %td
            Maintenance, repair and replacement of lights attached to the exterior wall, i.e., those that were originally provided when the unit was build. Garage and front entry
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            19
          %td
            Maintenance of gas and electricity connections from meters to units
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            20
          %td
            Maintenance of water system from the outside entry through the foundation throughout the unit. This includes outside faucets and hose bibs. Any damage caused by this portion of the water system is the liability of the unit owner (Refer to “Insurance Coverage,” section)
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            21
          %td
            Maintenance, repair and replacement of phone lines, TV cables, Satellite receivers, heat pumps and air conditioning
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            22
          %td
            Maintenance, repair and replacement of skylights added by owner AFTER roof replacement
          %td
          %td
            X
        %tr
          %td
            22A
          %td
            Maintenance, repair and replacement of skylights added WITH new roof
          %td
            X
          %td
        %tr
          %td
            23
          %td
            Maintenance, repair and replacement of roofs
          %td
            X
          %td
        %tr
          %td
          %td
            %h4.red.text-center
              Interior
          %td
          %td
        %tr.upkeep_owner
          %td
            I1
          %td
            Maintenance, repair and replacement of all interior painting, decorations and furnishings from the inside of the unfinished walls and ceilings. This includes all appliances such as dishwashers, garbage disposals, ranges, refrigerators, furnaces,exhaust fans, attic vents, air conditioners, water heaters, intercom, telephone and computer networks
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I2
          %td
            Maintenance, repair and replacement of venting, chimneys, and fireplaces
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I3
          %td
            Maintenance, repair and replacement of unit owner improvements: skylights, solar panels, windows, awnings, attic vents, etc.
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I4
          %td
            Maintenance, repair and replacement of the electrical system from the city electric meter to the breaker panel and to all outlets, switches, light fixtures
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I5
          %td
            Maintenance, repair and replacement of plumbing fixtures such as toilets, sinks, basins, and all interior pipes and valves
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I6
          %td
            Maintenance, repair of cracks, or other damage to interior walls, floors, ceilings, et al, caused by normal unit settling
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I7
          %td
            Repair of damages resulting from water seeping/entering unit from/due to any source including sprinkler systems, waterings, rainfall, etc.
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            I8
          %td
            Repair of damage resulting from water entering the unit through windows, window wells, etc.
          %td
          %td
            X
        %tr
          %td
          %td
            %h4.text-center.red
              Grounds
          %td
          %td
        %tr
          %td
            G1
          %td
            Lawn, flowers, trees and shrubs in the common areas
          %td
            X
          %td
        %tr
          %td
            G2
          %td
            Original lawn, flowers, trees and shrubs in the limited common areas
          %td
            X
          %td
        %tr
          %td
            G3
          %td
            Removal of ORIGINAL flowers, trees, shrubs, etc, that are dying, etc.
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            G4
          %td
            Flowers, trees, shrubs, etc, ADDED by an OWNER
          %td
          %td
            X
        %tr
          %td
            G5
          %td
            Lawn watering system
          %td
            X
          %td
        %tr
          %td
            G6
          %td
            Snow removal on streets, sidewalks and driveways
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            G7
          %td
            Snow removal from patios, decks and steps
          %td
          %td
            X
        %tr
          %td
            G8
          %td
            Roadways, parking lots, curbs, gutters, common area sidewalks, etc.
          %td
            X
          %td
        %tr
          %td
            G9
          %td
            Maintenance, repair and replacement of pool, pool amenities and signs, etc.
          %td
            X
          %td
        %tr.upkeep_owner
          %td
            G10
          %td
            Garbage collection
          %td
          %td
            X
        %tr.upkeep_owner
          %td
            G11
          %td
            Maintenance and repair of water system from the city water meter to the entrance to the exterior wall of each unit
          %td
          %td
            X
